<!-- Header -->
<div class="header">
    <md-nav-bar
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">

        <md-truncate flex></md-truncate>

        <md-nav-item md-nav-sref="home" name="home">
            <span class="clr-black">Home</span>
        </md-nav-item>
        <md-nav-item md-nav-sref="about" name="about">
            <span class="clr-black">  About </span>
        </md-nav-item>
        <md-nav-item md-nav-sref="login" name="login">
            <span class="clr-black">  Login </span>
        </md-nav-item>
    </md-nav-bar>
    <div class="logo-holder">
        <a ui-sref="home">
            <img src="images/logo.png" class="header-image"/>
        </a>
        <h2 class="logo-title">Dzeki Chain</h2>
        <h1>{{pageTitle}}</h1>
    </div>
</div>