<!-- Header -->
<div class="header">
<md-nav-bar
        md-no-ink-bar="disableInkBar"
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links"
        >

    <img src="images/yeoman.png" class="header-logo"/>

    <md-truncate flex></md-truncate>

    <md-nav-item  md-nav-sref="home" name="home">
        <span class="clr-black">Home</span>
    </md-nav-item>
    <md-nav-item  md-nav-sref="about" name="about">
      <span class="clr-black">  About </span>
    </md-nav-item>
</md-nav-bar>
</div>