<div class="header">

    <md-nav-bar
            md-no-ink-bar="disableInkBar"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">

        <md-truncate flex></md-truncate>

        <md-nav-item md-nav-sref="home" name="home">
            Home
        </md-nav-item>
        <md-nav-item md-nav-sref="myDogs" name="myDogs" data-ng-show="currentUserId !== null">
            My Dogs
        </md-nav-item>
        <md-nav-item md-nav-sref="about" name="about">
            About
        </md-nav-item>
        <md-nav-item md-nav-sref="login" name="login" data-ng-show="currentUserId === null">
            Login
        </md-nav-item>
        <md-nav-item md-nav-click="logout()" name="logout" data-ng-show="currentUserId !== null">
            Logout
        </md-nav-item>

    </md-nav-bar>

    <div class="logo-holder">
        <a ui-sref="home">
            <img src="images/logo.png" class="header-image"/>
        </a>
        <h2 class="logo-title">Dzeki Chain</h2>
        <h1>{{pageTitle}}</h1>
    </div>
</div>