<div layout="row">
    <div flex="50">
    <h1 >ABOUT TEAM</h1>

    </div>
</div>
<div layout="row" >
    <div flex="20" >
        <div class="team-padding" >
            <img class="team-icon exs" src="images/icons/exs2.png" />
            
        </div>
    </div>
    <div flex="20">
        <div class="team-padding">
            <img class="team-icon milan" src="images/icons/milan.png" />
    
        </div>
        
    </div>
    <div flex="20">
        <div class="team-padding">
            <img class="team-icon bata" src="images/icons/bata2.jpg" />
    
        </div>
    </div>
    <div flex="20">
        <div class="team-padding">
            <img class="team-icon oki" src="images/icons/oki.png" />
    
        </div>
    </div>
    <div flex="20">
        <div class="team-padding ">
            <img class="team-icon dzeki" src="images/icons/dzeki.jpg" />
            
        </div>
    </div>
</div>
<div layout="row">
    <div flex="20">
        <div class="team-text">
            <h1>EXS</h1>
            <h1>Hyper ledger wizard</h1>
        </div>
    </div>
    <div flex="20">
        <div class="team-text">
            <h1>MIXER</h1>
            <h1>Wizard</h1>
        </div>
    </div>
    <div flex="20">
        <div class="team-text">
            <h1>BATA</h1>
            <h1>Fabric wizard</h1>
        </div>
    </div>
    <div flex="20">
        
        <div class="team-text">
            <h1>OKI</h1>
            <h1>JS wizard</h1>
        </div>
    </div>
    <div flex="20">
        
        <div class="team-text">
            <h1>FIRST USER</h1>
        </div>
    </div>

</div>