<div layout>
    <md-card flex="60" class="c-background c-image-border c-image__margin">
        <md-card-header >
            <md-card-avatar> 
                <img   src="images/icons/dog-house.png" alt="dogs house" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Tom's dogs house</span>
                <span class="md-subhead">London</span>
            </md-card-header-text>
        </md-card-header>
        <div class="c-thumbnail__img " ng-style="{{model.image}}">
        </div>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Name</span>
                <span class="md-subhead">Helth</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button>Mom</md-button>
            <md-button>Father</md-button>
            <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="toggle">
                    <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                </md-button>
            </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <p>
            PRICE
            </p>
        </md-card-content>
    </md-card>
        <div flex-xs flex-gt-xs="40"  >
            <md-card class="c-background c-image-border c-image__margin c-image__margin-right   " md-theme-watch>
                <md-card-header>
                    <md-card-avatar>
                        <img src="images/icons/dog-house.png" alt="dogs house" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-headline">Tom's dogs house</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead">Small</span>
                        <span class="md-subhead">Small</span>
                        <span class="md-subhead">Small</span>
                        <span class="md-subhead">Small</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div>
</div>