<div layout="row" layout-align="space-beetwen"  layout-wrap>
    <div flex="33" class="c-image-padding" ng-repeat="thumb in model track by $index" >
        <md-card class="c-background c-image-border c-thumbnail">
            <div class="c-thumbnail__img " ng-style="{{thumb}}">
                
            </div>
            <md-card-actions class="clr-main" layout="row" layout-align="start center">
                    <div flex="75" class="font-b">Dalmatia</div>
                    <div flex="25">
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon md-svg-icon="images/icons/dog-paw.svg"></md-icon>
                        </md-button>
                        <span class="font-b"></span>
                    </div>
                
                
            </md-card-actions>
        </md-card>
    </div>
</div>