

.c-image-padding {
    padding: 35px;
}

.c-image-border {
    border: 1px solid #66ccff;
    box-shadow: #66ccff;
}

.font-b {
    font-weight: bold;
}

.font-i {
    font-weight: italic;
}

.c-bck-image {
 background : url("https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2017/12/dog_eating_chocolate.jpg?itok=2NBmt_8Y&fc=50,50") no-repeat center center local;
 background-size : cover;
 
}

.c-bck-image1 {
 background : url("http://s4.mojalbum.com/nove-slike-foto_1944114_1969249_4344145.jpg") no-repeat center center local;
 background-size : cover;
}

/* BACKGROUND */

.c-background {
    background-color: #f6f5de;
}

/* COLOR */
.c-icon-padding {
    padding: 5px;
}
.clr-black {
    color: black;
}

/* MARGIN */
.c-image__margin {
    margin-top: 50px;
    margin-left: 50px;
    
}
.c-image__margin-right {
    margin-right: 50px;
}
/* HEADER */

.header {
    border-bottom: 1px solid #66ccff;
}

/* STYLE */
.c-thumbnail {
  font-size: 14px;
  margin-left: 0;
  margin-right: 0;
}

.c-thumbnail__img {
height: 22em;
width: 100%;
overflow: hidden;
}