<div class="content" flex="80" layout="row">

    <md-card flex="60">
        <md-card-header>
            <md-card-avatar>
                <img src="images/icons/dog-house.png" alt="dogs house"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{breedingHouse.name}}</span>
                <span class="md-subhead"></span>
            </md-card-header-text>
        </md-card-header>
        <div class="c-thumbnail__img" ng-style="{{dog.image}}">
        </div>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{dog.breed}}</span>
                <span>{{dog.gender}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <a class="dogs-parent-link" data-ng-if="dog.mother" data-ng-click="viewDog(dog.mother)">Mother</a>
            <a class="dogs-parent-link" data-ng-if="dog.father" data-ng-click="viewDog(dog.father)">Father</a>
            <div>{{dog.info}}</div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center center">
            <md-button data-ng-click="rentDog(dog.id)" data-ng-if="dog.forSale" class="buy">Buy</md-button>
            <md-button data-ng-click="buyDog(dog.id)" data-ng-if="dog.forMate" class="rent">Mate</md-button>
        </md-card-actions>
        <md-card-content layout="row" layout-align="center center">
            <p class="price-label" data-ng-if="dog.price"> Buy Price: {{dog.price}}$ </p>
            <p class="price-label" data-ng-if="dog.matePrice"> Mate Price {{dog.matePrice}}$ </p>
        </md-card-content>
    </md-card>

    <div flex="40">
        <md-card md-theme-watch>
            <md-card-header>
                <md-card-avatar>
                    <img src="images/icons/dog-house.png" alt="dogs house"/>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-headline">{{breedingHouse.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead">{{breedingHouse.address}}</span>
                    <span class="md-subhead">{{breedingHouse.phone}}</span>
                    <span class="md-subhead">{{breedingHouse.email}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </div>

</div>