<div class="content" flex="40">

    <form ng-cloak name="dogEditForm" ng-submit="submitForm(dogEditForm)">

        <div layout="column">

            <md-input-container>
                <label>Name</label>
                <input type="text"
                       name="name"
                       ng-model="dog.name"
                       md-maxlength="30"
                       required>
                <div ng-if="dogEditForm.name.$invalid && !dogEditForm.name.$pristine"
                     ng-messages="dogEditForm.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">Must be less than 30 characters long.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Breed</label>
                <md-select name="breed"
                           ng-model="dog.breed"
                           required>
                    <md-option ng-repeat="breed in breeds" ng-value="breed">{{breed}}</md-option>
                </md-select>
                <div ng-if="dogEditForm.breed.$invalid && !dogEditForm.breed.$pristine"
                     ng-messages="dogEditForm.breed.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Gender</label>
                <md-select name="gender"
                           ng-model="dog.gender"
                           required>
                    <md-option ng-value="'male'">Male</md-option>
                    <md-option ng-value="'female'">Female</md-option>
                </md-select>
                <div ng-messages="dogEditForm.gender.$error && !dogEditForm.gender.$pristine">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <div flex="50">
                    <md-input-container style="width: 100%">
                        <label>Buy Price</label>
                        <input type="number"
                               name="price"
                               ng-model="dog.price"
                               required>
                        <div ng-if="dogEditForm.price.$invalid && !dogEditForm.price.$pristine"
                             ng-messages="dogEditForm.price.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-input-container style="width: 100%">
                        <label>Mate Price</label>
                        <input type="number"
                               name="matePrice"
                               ng-model="dog.matePrice"
                               required>
                        <div ng-if="dogEditForm.matePrice.$invalid && !dogEditForm.matePrice.$pristine"
                             ng-messages="dogEditForm.matePrice.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <md-input-container>
                <label>Info</label>
                <textarea name="info"
                          ng-model="dog.info"
                          required
                          rows="4">
                </textarea>
                <div ng-if="dogEditForm.info.$invalid && !dogEditForm.info.$pristine"
                     ng-messages="dogEditForm.info.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <div flex="50">
                    <md-input-container style="width: 100%">
                        <label>Mother</label>
                        <md-select name="mother"
                                   ng-model="dog.mother">
                            <md-option ng-repeat="parent in femaleDogs"
                                       ng-value="'resource:org.acme.mynetwork.Dog#' + parent.dogId">{{parent.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="50">
                    <md-input-container style="width: 100%">
                        <label>Father</label>
                        <md-select name="father"
                                   ng-model="dog.father">
                            <md-option ng-repeat="parent in maleDogs"
                                       ng-value="'resource:org.acme.mynetwork.Dog#' + parent.dogId">{{parent.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <md-input-container>
                    <md-checkbox ng-model="dog.forSale">For Sale</md-checkbox>
                </md-input-container>

                <md-input-container>
                    <md-checkbox ng-model="dog.forMate">For Mate</md-checkbox>
                </md-input-container>
            </div>

            <input type="file" id="photo" placeholder="Image">

            <span style="color: #72e47f">{{photoUploadMessage}}</span>

            <div layout="row">
                <md-button ng-click="uploadImage()">
                    Upload Image
                </md-button>
            </div>

        </div>

        <div layout="row">
            <span flex></span>
            <md-button type="submit" ng-disabled="dogEditForm.$invalid || dogEditForm.$pristine" md-autofocus>
                Save
            </md-button>
            <md-button ng-click="goToDogs()">
                Cancel
            </md-button>
        </div>

    </form>

</div>